extends ../angular-layout

block content
    .container(ng-app="claims")
        div(ng-controller="ClaimsCtrl")
            .row
                .col-xs-2
                    a(
                    ng-href="/admin/events"
                    ) < Lista wydarzeń
                .col-xs-8
                    h4 Lista biletów na !{event.title}, !{event.city}
                    ul.list-group
                        li.list-group-item.list-group-item-heading.list-group-item-success
                            h4 Liczba wszystkich biletów (opłacone + sponsora + vip): !{allTickets}
                        li.list-group-item.list-group-item-info
                            span.badge !{payedCount}
                            | Liczba opłaconych biletów
                        li.list-group-item
                            span.badge !{pendingCount}
                            | Liczba biletów oczekujących na płatność (np. przelew)
                        li.list-group-item.list-group-item-text
                            span.badge !{vip}
                            | Liczba biletów VIP
                        li.list-group-item.list-group-item-text
                            span.badge !{sponsor}
                            | Liczba biletów dla sponsorów
            .row
                .col-xs-6
                    .panel.panel-primary(ng-if="!view.offlineRegistration")
                        .panel-heading
                            | Dodaj uczestnika devmeetingu
                        .panel-body
                            .row
                                .col-xs-2.col-xs-offset-2
                                    button.btn.btn-primary(
                                    ng-click="addVIP()") VIP-a
                                .col-xs-3
                                    button.btn.btn-primary(
                                    ng-click="addSponsor()") Od sponsora
                                .col-xs-4
                                    button.btn.btn-primary(
                                    ng-click="addRegular()") Bez rejestracji
                    .panel.panel-primary(ng-if="view.offlineRegistration")
                        .panel-heading(ng-if="view.userToAdd==='VIP'") Dodaj VIP-a
                        .panel-heading(ng-if="view.userToAdd==='SPONSOR'") Dodaj uczestnika od sponsora
                        .panel-heading(ng-if="view.userToAdd==='REGULAR'") Dodaj uczestnika bez rejestracji
                        .panel-body
                            form.invoices.form-horizontal(ng-controller="OfflineClaimCtrl", ng-submit="addOfflineClaim()")
                                .row
                                    .col-xs-12
                                        .form-group
                                            label.col-sm-3.control-label Email:
                                            .col-sm-6
                                                input.form-control(ng-model="newClaim.user.email",name="email", type="text", required)
                                        .form-group
                                            label.col-sm-3.control-label Kwota:
                                            .col-sm-6
                                                input.form-control(ng-model="newClaim.amount",name="email", type="text", required)
                                        .form-group
                                            label.col-sm-3.control-label Imię i nazwisko
                                            .col-sm-6
                                                input.form-control(ng-model="newClaim.user.names",name="street", type="text")
                                        .form-group
                                            .checkbox
                                                label.col-sm-3.control-label
                                                    input(ng-model="newClaim.userNeedInvoice", type="checkbox")
                                                    | Faktura?
                                        .form-group(ng-if="newClaim.userNeedInvoice")
                                            label.col-sm-3.control-label Nazwa:
                                            .col-sm-6
                                                input.form-control(ng-model="newClaim.invoice.recipientName",name="recipientName", type="text")
                                        .form-group(ng-if="newClaim.userNeedInvoice")
                                            label.col-sm-3.control-label Ulica:
                                            .col-sm-6
                                                input.form-control(ng-model="newClaim.invoice.street",name="street", type="text")
                                        .form-group(ng-if="newClaim.userNeedInvoice")
                                            label.col-sm-3.control-label Kod pocztowy:
                                            .col-sm-6
                                                input.form-control(ng-model="newClaim.invoice.postalCode",name="postalCode", type="text")
                                        .form-group(ng-if="newClaim.userNeedInvoice")
                                            label.col-sm-3.control-label Miasto:
                                            .col-sm-6
                                                input.form-control(ng-model="newClaim.invoice.city",name="city", type="text")
                                        .form-group(ng-if="newClaim.userNeedInvoice")
                                            label.col-sm-3.control-label NIP:
                                            .col-sm-6
                                                input.form-control(ng-model="newClaim.invoice.tin",name="tin", type="text")
                                        .form-group
                                            .col-sm-7.col-sm-offset-2
                                                button.btn.btn-primary(type="submit") Dodaj uczestnika
                                            .col-sm-2
                                                button.btn.btn-default(ng-click="view.offlineRegistration=false") Anuluj
                .col-xs-4
                    .panel.panel-info
                        .panel-heading
                            | Zaproś uczestnika
                        .panel-body
                            form.form-inline(ng-submit="sendInvitation(view.inviteEmail)", name="form")
                                .form-group
                                    input.form-control(type="email", placeholder="Adres email", ng-model="view.inviteEmail", name="email", required)
                                button.btn.btn-primary(type="submit", ng-disabled="form.$invalid") Zaproś
                .col-xs-2
                    a.btn.btn-block.btn-primary.btn-lg(
                    ng-href="/admin/events/#{eventId}/invoices"
                    )
                        | Faktury
            .well.clearfix
                .form-group
                    button.btn.btn-primary(
                    ng-class="{active: hideExpired}"
                    ng-click="hideExpired = !hideExpired") Hide Expired
                .form-group
                    input.form-control(type="text", ng-model="search.$", placeholder="Wyszukaj")

            .row(ng-if="!view.detailed")
                table.table.table-striped.table-hover.table-condensed
                    tr
                        th
                            a(ng-click="sortBy('userData.names')") Imię i nazwisko
                        th
                            a(ng-click="sortBy('userData.email')") E-mail
                        th
                            a(ng-click="sortBy('claimedTime')") Data rejestracji
                        th
                            a(ng-click="sortBy('validTill')") Ważny do
                        th
                            a(ng-click="sortBy('status')") Status
                        th
                            a(ng-click="sortBy('amount')") Kwota
                        th

                    tr(
                    ng-repeat="claim in claims | filter:search | orderBy:sort.by:sort.reverse"
                    ng-if="!hideExpired || claim.status !== 'expired'"
                    )
                        td {{claim.userData.names}}
                            strong(ng-if="claim.extra.vip")  (VIP)
                            strong(ng-if="claim.extra.sponsor")  (Sponsor)
                        td {{claim.userData.email}}
                        td {{claim.claimedTime | date:'short'}}
                        td {{claim.validTill | date:'short' }}
                        td {{ showStatusDesc(claim.status) }}
                        td {{claim.amount }}
                        td(ng-init="row.confirmCancel=false")
                            | {{view.confirmCancel}}
                            div(ng-if="row.confirmCancel")
                                p Cancel this claim?
                                button.btn.btn-default(ng-click="row.confirmCancel=false") No
                                | &nbsp;
                                button.btn.btn-primary(ng-click="row.confirmCancel=false; cancelClaim(claim)") Yes

                            .btn-group(ng-if="!row.confirmCancel")
                                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                                    | Action <span class="caret"></span>
                                ul.dropdown-menu
                                    li
                                        a(
                                        ng-click='search.$=claim._id; view.detailed=true'
                                        )
                                            | More
                                    li
                                        a(
                                        ng-click='setAsOffline(claim)', ng-if="claim.status !== 'offlinePending' && claim.status !== 'payed'"
                                        )
                                            | Offline pending
                                    li
                                        a(
                                        ng-click='setAsPaid(claim)', ng-if=" claim.status !== 'payed'"
                                        )
                                            | Paid (No PayU)
                                    li
                                        a(
                                        ng-click='needInvoice(claim)', ng-if="!claim.needInvoice"
                                        )
                                            | Need invoice
                                    li
                                        a(
                                        ng-click='setAsVIP(claim)'
                                        )
                                            | Set as a VIP
                                    li
                                        a(
                                        ng-click='setAsSponsor(claim)'
                                        )
                                            | From sponsor
                                    li
                                        a(
                                        ng-click='row.confirmCancel=true'
                                        )
                                            | Cancel claim

            .row(ng-if="view.detailed")
                .col-sm-12
                    a(
                    ng-click='search.$=""; view.detailed.false'
                    )
                        | &lArr; Back
                .col-sm-6(
                ng-repeat="claim in claims | filter:search | orderBy:sort.by:sort.reverse"
                ng-if="!hideExpired || claim.status !== 'expired'")
                    .well
                        h1.pull-right {{claim.amount}}
                        h1 {{claim.userData.names}}
                        h2 {{claim.userData.email}}

                        h4
                            | Claimed:
                            span(am-time-ago="claim.claimedTime")
                            span.text-muted  ({{claim.claimedTime | amCalendar}})
                        h4
                            | Status:
                            span {{claim.status}}
                        h4
                            | Valid till:
                            span {{claim.validTill | amCalendar}}

                        button.btn.btn-link.btn-xs(ng-click="showMore = !showMore") More
                        pre(ng-if="showMore"): code(ng-bind="claim | json")

                        p
                            a.btn.btn-primary(
                            href="{{getPaymentDetailsUrl(claim._id)}}"
                            ng-if="claim.payment.id"
                            )
                                | Payment Details
                        form(
                        method="post"
                        action="{{getPostUrl(claim.event._id, claim._id)}}"
                        ng-if="claim.status !== 'payed'"
                        )
                            button.btn.btn-primary(type="submit")
                                | Recreate Payment

append scripts
    script.
        angular.module("claims", ['angularMoment'])
                .controller("OfflineClaimCtrl", function ($scope, $http, $window) {

                    var regular = {
                        status: 'payed',
                        amount: 0,
                        extra: {
                            vip: false,
                            sponsor: false
                        },
                        paidWithoutPayu: true,
                        user: {
                            email: '',
                            names: ''
                        },
                        userNeedInvoice: false,
                        invoice: {
                            recipientName: '',
                            street: '',
                            postalCode: '',
                            city: '',
                            tin: ''
                        }
                    };

                    var vip = angular.copy(regular);
                        vip.extra.vip = true;
                    var sponsor = angular.copy(regular);
                        sponsor.extra.sponsor = true;

                    $scope.newClaim = regular;

                    if ($scope.view.userToAdd === 'VIP') {
                        $scope.newClaim = vip;
                    }
                    else if ($scope.view.userToAdd === 'SPONSOR') {
                        $scope.newClaim = sponsor;
                    }

                    $scope.addOfflineClaim = function () {
                        var evId = '!{eventId}';
                        $http.post('/admin/events/' + evId + '/add/claim/offline', $scope.newClaim).then(function () {
                            $window.location.reload();
                        });
                    }
                })
                .controller("ClaimsCtrl", function ($scope, $sce, $http, $window) {
                    $scope.hideExpired = true;
                    $scope.search = {};
                    $scope.claims = !{claims};
                    $scope.view = {};

                    $scope.addVIP = function (){
                        $scope.view.offlineRegistration = true;
                        $scope.view.userToAdd = 'VIP';
                    }

                    $scope.addSponsor = function (){
                        $scope.view.offlineRegistration = true;
                        $scope.view.userToAdd = 'SPONSOR';
                    }
                    $scope.addRegular = function () {
                        $scope.view.offlineRegistration = true;
                        $scope.view.userToAdd = 'REGULAR';
                    }

                    $scope.getPostUrl = function (evId, claimId) {
                        var name = '/admin/events/' + evId + '/tickets/' + claimId + '/payment';
                        $sce.trustAsUrl(name);
                        return name;
                    };

                    $scope.getPaymentDetailsUrl = function (claimId) {
                        var name = '/admin/claims/' + claimId + '/payment';
                        $sce.trustAsUrl(name);
                        return name;
                    };

                    $scope.sort = {};
                    $scope.sortBy = function (by) {
                        $scope.sort.by = by;
                        $scope.sort.reverse = !$scope.sort.reverse;
                    };

                    $scope.setAsPaid = function (claim) {
                        $http.post('/admin/events/' + claim.event._id + '/payed/' + claim._id).then(function () {
                            $window.location.reload();
                        });
                    };

                    $scope.setAsVIP = function (claim) {
                        $http.post('/admin/events/' + claim.event._id + '/vip/' + claim._id).then(function () {
                            $window.location.reload();
                        });
                    };

                    $scope.setAsSponsor = function (claim) {
                        $http.post('/admin/events/' + claim.event._id + '/sponsor/' + claim._id).then(function () {
                            $window.location.reload();
                        });
                    };

                    $scope.cancelClaim = function (claim){
                        $http.post('/admin/events/' + claim.event._id + '/cancel/' + claim._id).then(function () {
                        $window.location.reload();
                        });
                    };

                    $scope.setAsOffline = function (claim) {
                        $http.post('/admin/events/' + claim.event._id + '/offline/' + claim._id).then(function () {
                            $window.location.reload();
                        });
                    };

                    $scope.needInvoice = function (claim) {
                        $http.post('/admin/events/' + claim.event._id + '/invoice/' + claim._id).then(function () {
                            $window.location.reload();
                        });
                    };

                    $scope.sendInvitation = function (email){
                        $http.post('/admin/events/#{eventId}/invitation', {email: email}).then(function (){
                            $window.location.reload();
                        });
                    }

                    $scope.showStatusDesc = function (status) {
                        switch (status) {
                            case 'active':
                                return 'Bilet zajety - w trakcie wypelniania';
                            case 'invited':
                                return 'Bilet wyslany jako zaproszenie';
                            case 'creatingPayment':
                                return 'Przed wyslaniem do PayU';
                            case 'waiting':
                                return 'Oczekiwanie na potwierdzenie z PayU';
                            case 'pending':
                                return 'PayU oczekuje na potwierdzenie z banku';
                            case 'offlinePending':
                                return ' Platnosc zostanie wykonana bez uzycia PayU';
                            case 'payed':
                                return 'Zaplacone';
                            case 'expired':
                                return 'Czas na wypelnienie wygasl';
                            default:
                                return status;
                        }
                    }

                });
