extends ../angular-layout

block content
  .container(ng-app="claims")
    div(ng-controller="ClaimsCtrl")
      .well.clearfix
        .form-group
          .pull-right
            a(
                ng-click="view.detailed = !view.detailed"
              )
                | Toggle Detailed View
            br
            a(
              ng-href="/admin/events/#{eventId}/invoices"
              )
              | Invoices

          button.btn.btn-primary(
            ng-class="{active: hideExpired}"
            ng-click="hideExpired = !hideExpired") Hide Expired
        .form-group
          input.form-control(type="text", ng-model="search.$", placeholder="Search")
      .row
        p.lead !{event.title}
        p
        | Claims list. Payed claims: <strong>!{payedCount}</strong>. Pending claims: <strong>!{pendingCount}</strong>
      .row(ng-if="!view.detailed")
        table.table.table-striped.table-hover.table-condensed
          tr
            th
              a(ng-click="sortBy('userData.names')") Name
            th 
              a(ng-click="sortBy('userData.email')") E-mail
            th 
              a(ng-click="sortBy('claimedTime')") Claimed Time
            th 
              a(ng-click="sortBy('validTill')") Valid Till
            th 
              a(ng-click="sortBy('status')") Status
            th 
              a(ng-click="sortBy('amount')") Amount
            th 

          tr(
            ng-repeat="claim in claims | filter:search | orderBy:sort.by:sort.reverse"
            ng-if="!hideExpired || claim.status !== 'expired'"
            )
            td {{claim.userData.names}}
            td {{claim.userData.email}}
            td {{claim.claimedTime | date:'short'}}
            td {{claim.validTill | date:'short' }}
            td {{claim.status }}
            td {{claim.amount }}
            td
              a(
                ng-click='search.$=claim._id; view.detailed=true'
                )
                | More
              button.btn.btn-link.btn-xs(ng-click="setAsPaid(claim)") Set as paid (No PayU)

      .row(ng-if="view.detailed")
        .col-sm-12
          a(
            ng-click='search.$=""; view.detailed.false'
            )
            | &lArr; Back
        .col-sm-6(
          ng-repeat="claim in claims | filter:search | orderBy:sort.by:sort.reverse" 
          ng-if="!hideExpired || claim.status !== 'expired'")
          .well
            h1.pull-right {{claim.amount}}
            h1 {{claim.userData.names}}
            h2 {{claim.userData.email}}
      
            h4 
              | Claimed: 
              span(am-time-ago="claim.claimedTime")
              span.text-muted  ({{claim.claimedTime | amCalendar}})
            h4
              | Status: 
              span {{claim.status}}
            h4 
              | Valid till: 
              span {{claim.validTill | amCalendar}}

            button.btn.btn-link.btn-xs(ng-click="showMore = !showMore") More
            pre(ng-if="showMore"): code(ng-bind="claim | json")
            
            p
              a.btn.btn-primary(
                href="{{getPaymentDetailsUrl(claim._id)}}"
                ng-if="claim.payment.id"
                  )
                | Payment Details
            form(
              method="post" 
              action="{{getPostUrl(claim.event, claim._id)}}"
              ng-if="claim.status !== 'payed'"
              )
              button.btn.btn-primary(type="submit")
                | Recreate Payment

append scripts
  script.
    angular.module("claims", ['angularMoment']).controller("ClaimsCtrl", function($scope, $sce, $http, $window) {
      $scope.hideExpired = true;
      $scope.search = {};
      $scope.claims = !{claims};
      $scope.view = {};

      $scope.getPostUrl = function(evId, claimId) {
        var name = '/admin/events/' + evId + '/tickets/' + claimId + '/payment';
        $sce.trustAsUrl(name);
        return name;
      };

      $scope.getPaymentDetailsUrl = function(claimId) {
        var name = '/admin/claims/' + claimId + '/payment';
        $sce.trustAsUrl(name);
        return name;
      };

      $scope.sort = {};
      $scope.sortBy = function(by) {
        $scope.sort.by = by;
        $scope.sort.reverse = !$scope.sort.reverse;
      };

      $scope.setAsPaid = function(claim){
          $http.post('/admin/events/' + claim.event +'/payed/' + claim._id).then(function(){
            $window.location.reload();
          });
      };
    });
