extends ../layout

block content

  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
      each ev in events
        .well.clearfix
          form(method="post", action="/admin/events/#{ev._id}")
            .form-group
              label.control-label Title
              input.form-control(type='text' value=ev.title, name="title") 
            .form-group
              .checkbox
                label
                  input(type='checkbox', checked=ev.isVisible, name="isVisible")
                  | Visible?
            .form-group
              label.control-label Registration Open Date
              input.form-control(type="text", value=ev.openDate, name="openDate")

            .form-group
              label.control-label Event Start date
              input.form-control(type="text", value=ev.eventStartDate, name="eventStartDate")

            .form-group
              label.control-label Event End date
              input.form-control(type="text", value=ev.eventEndDate, name="eventEndDate")

            .form-group
              h3.text-muted Bilety: #{ev.ticketsLeft} / #{ev.tickets}
            hr
            textarea.form-control(rows="10", name="description") #{ev.description}
            br
            p.text-right
              button.btn.btn-danger(type="submit") Uaktualnij
            p.hide #{ev}
          hr
          .text-center
            a.btn.btn-dev.btn-lg(href="/admin/events/#{ev._id}/claims") Pokaż bilety
          h4
            h4 Dodaj bilety
            form(method="post", action="/admin/events/#{ev._id}/tickets")
              .form-group
                label.control-label Liczba do dodania
                input.form-control(type="number", name="amount", min="1", max="99", value="1")
              .form-group.text-center
                button.btn.btn-primary.btn-lg(type="submit") Dodaj
          
