extends ../angular-layout

block content
    .container(ng-app="users")
        div(ng-controller="UsersCtrl")
            .well.clearfix
                .form-group
                    input.form-control(type="text", ng-model="search.$", placeholder="Search")
            .row
                p.lead !{event.title}

                p
                    | Lista użytkowników którzy opłacili rejestrację plus użytkownicy specjalni (np. od sponsora "TO DO")
            .row
                .col-md-9
                    table.table.table-striped.table-hover.table-condensed
                        tr
                            th
                                a(ng-click="sortBy('userData.names')") Name
                            th
                                a(ng-click="sortBy('userData.email')") E-mail
                            th
                        tr(
                        ng-repeat="user in users | filter:search | orderBy:sort.by:sort.reverse"
                        )
                            td {{user.userData.names}}
                                strong(ng-if="user.extra.vip")  (VIP)
                                strong(ng-if="user.extra.sponsor")  (Sponsor)
                            td {{user.userData.email}}
                            td
                                button.pull-right.btn.btn-xs.btn-primary.btn-block(
                                    ng-disabled="!btn.active",
                                    ng-init="btn = { active: true}"
                                    ng-click="getUserDiploma(user._id, btn)"
                                )
                                    | Pobierz dyplom
                .col-md-3(
                    ng-controller="SendEmailCtrl"
                    )
                        button.pull-right.btn.btn-default.btn-block(
                        ng-show="!showMailBtn"
                        ng-click="showMailBtn = true"
                        )
                            | Pokaż przyciski do maili
                        br
                        br
                        button.pull-right.btn.btn-primary.btn-block(
                        ng-if="showMailBtn",
                        ng-disabled="sendMail"
                        ng-click="sendLocationEmail()"
                        )
                            | {{mailBtnLabel}}
                        br
                        br
                        button.pull-right.btn.btn-primary.btn-block(
                        ng-if="showMailBtn",
                        ng-disabled="sendMail"
                        ng-click="sendLocationTestEmail()"
                        )
                            | Wyślij maila testowego
                        br
                        br
                        button.pull-right.btn.btn-primary.btn-block(
                        ng-disabled="!btn.active",
                        ng-init="btn = { active: true}"
                        ng-click="getDiploma(btn)"
                        )
                            | Pobierz dyplomy
                        br
                        a(href="users/diploma/render") Pokaż dyplomy

append scripts
    script.
        angular.module('users', []).controller('UsersCtrl', function ($scope, $http) {
            $scope.users = !{users};
            var eventId = '!{eventId}';

            $scope.getDiploma = function (btn) {
                btn.active = false;
                $http.post('/admin/events/' + eventId + '/users/diploma', {}, {responseType: 'blob'})
                        .then(function (response) {
                            var regEx = response.headers('Content-Disposition').match(/filename="([^"]*)"/);
                            var fileName = regEx[1];
                            download(response.data, fileName, 'application/pdf');
                            btn.active = true;
                        });
            };
            $scope.getUserDiploma = function (claimId, btn) {
                btn.active = false;
                $http.post('/admin/events/' + eventId + '/' + claimId + '/diploma', {}, {responseType: 'blob'})
                        .then(function (response) {
                            var regEx = response.headers('Content-Disposition').match(/filename="([^"]*)"/);
                            var fileName = regEx[1];
                            download(response.data, fileName, 'application/pdf');
                            btn.active=true;
                        });
            };
        })
        .controller('SendEmailCtrl', function ($scope, $http) {
            var eventId = '!{eventId}';

            initMailBtn();

            function initMailBtn(){
                $scope.mailBtnLabel = "Mail do uczestników";
                $scope.sendMail = false;
            }

            $scope.sendLocationTestEmail = function(){
                $scope.sendLocationEmail({test:true});
            };
            $scope.sendLocationEmail = function (data) {
                $scope.mailBtnLabel = "Trwa wysyłanie ..."
                $scope.sendMail = true;
                $http.post('/admin/events/' + eventId + '/users/notify', data).then(function(){
                    initMailBtn();
                })
            };

        });