extends ../../layout-en

block content

  .container-full
    .container-light-gray
      .container.container-heading
        h1.h3.centered.vertical-space-m.text-thin DevMeetings:
          strong &nbsp;Workshops&nbsp;
          | for passionate software developers.
        p.h5.centered.text-thin Offered in <strong>Pay What You Want</strong> model.
        .workshop-holder.vertical-space-m
          .col-md-8.col-md-offset-2
            .videos
              <iframe width="854" height="510" src="https://www.youtube.com/embed/De17BOe1GnE?rel=0" allowfullscreen></iframe>
    .container
      .row.vertical-space-m
        h2.h3.centered Upcoming workshops
      - for (var i =0 ; i < events.length; i=i+2) {
      - var firstEvent = events[i];
      - var secondEvent = events[i+1];
      .workshop-holder.row.vertical-space-m
        .col-sm-6.col-xs-12
          .box
            .box-image
              a(href='#{firstEvent.url}', target='_blank')
                .workshop-img(style='background-image: url(#{firstEvent.logo.url});' alt='')
            .box-details
              a(href='#{firstEvent.url}', target='_blank')
                h3.h4 #{firstEvent.name.text}
              .row
                .col-xs-8
                  p
                    | #{firstEvent.shortDescription}
                .col-xs-4
                  p
                    span.fa.fa-calendar.fa-lg.fa-fw
                    | &nbsp; <strong>#{firstEvent.startDateDesc}</strong>
                  p.btn-holder
                    a.btn.btn-dev(href='#{firstEvent.url}') Register
        .col-sm-6.col-xs-12
          - if (secondEvent) {
          .box
            .box-image
              a(href='#{secondEvent.url}', target='_blank')
                .workshop-img(style='background-image: url(#{secondEvent.logo.url});' alt='')
            .box-details
              a(href='#{secondEvent.url}', target='_blank')
                h3.h4 #{secondEvent.name.text}
              .row
                .col-xs-8
                  p
                    | #{secondEvent.shortDescription}
                .col-xs-4
                  p
                    span.fa.fa-calendar.fa-lg.fa-fw
                    | &nbsp; <strong>#{secondEvent.startDateDesc}</strong>
                  p.btn-holder
                    a.btn.btn-dev(href='#{secondEvent.url}') Register
          - }
      - }
    .container
        .row.vertical-space-m
            h2.h3.centered Workshops that took place
        - for (var i =0 ; i < endedEvents.length; i=i+2) {
        - var firstEvent = endedEvents[i];
        - var secondEvent = endedEvents[i+1];
        .workshop-holder.row.vertical-space-m
            .col-sm-6.col-xs-12
                .box
                    .box-image
                        a(href='#{firstEvent.url}', target='_blank')
                            .workshop-img(style='background-image: url(#{firstEvent.logo.url});' alt='')
                    .box-details
                        a(href='#{firstEvent.url}', target='_blank')
                            h3.h4 #{firstEvent.name.text}
                        .row
                            .col-xs-7
                                p
                                    | #{firstEvent.shortDescription}
                            .col-xs-5
                                p
                                    span.fa.fa-calendar.fa-lg.fa-fw
                                    | &nbsp; <strong>#{firstEvent.startDateDesc}</strong>
                                p.btn-holder
                                    a.btn.btn-default(href='#{firstEvent.url}') Details
            .col-sm-6.col-xs-12
                - if (secondEvent) {
                .box
                    .box-image
                        a(href='#{secondEvent.url}', target='_blank')
                            .workshop-img(style='background-image: url(#{secondEvent.logo.url});' alt='')
                    .box-details
                        a(href='#{secondEvent.url}', target='_blank')
                            h3.h4 #{secondEvent.name.text}
                        .row
                            .col-xs-7
                                p
                                    | #{secondEvent.shortDescription}
                            .col-xs-5
                                p
                                    span.fa.fa-calendar.fa-lg.fa-fw
                                    | &nbsp; <strong>#{secondEvent.startDateDesc}</strong>
                                p.btn-holder
                                    a.btn.btn-default(href='#{secondEvent.url}') Details
                - }
        - }
    .container-light-gray
      .container
        h2.h3.centered.vertical-space-m Testimonials
        p.h5.centered Some claim that these are not workshops, but a state of mind.
        .opinions-holder.row.vertical-space-ml
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/blacke-s-big.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
                p
                  em
                    | ...The tutorial format and mentoring was probably the best I've seen at a meetup of this kind so far. It was a very valuable experience!
                p
                  a(href='http://www.meetup.com/Seattle-Devmeetings/events/226985992/#event_comment-458693701', target='_blank')
                    | meetup.com/Seattle-Devmeetings/events/...
                p
                  span
                    strong Blake S.
                  br
                  strong Ecmascript 6, Seattle, WA
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/tony-h-big.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
                p
                  em
                  | Thanks for the meetup! Excellent material and help from the organisers. Even though I had no experience in web development I was able to follow along and learned a lot.
                p
                  a(href='http://www.meetup.com/AngularJS-Oslo/events/221099320/#event_comment-446442714', target='_blank')
                    | meetup.com/AngularJS-Oslo/events/...
                p
                  span
                    strong Tony H.
                  br
                  strong AngularJS, Oslo, Norway

        .opinions-holder.row.vertical-space-s
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/hs-big.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
                p
                  em
                  | Awesome workshop.. thank you for doing yhis. It is a saturday very well spent...
                p
                  a(href='http://www.meetup.com/Seattle-Devmeetings/events/222682646/#event_comment-451146648', target='_blank')
                    | meetup.com/Seattle-Devmeetings/events/...
                p
                  span
                    strong HS
                  br
                  strong AngularJS, Seattle, WA
          .opinions-col
            .col-md-1.col-xs-2
              img.img-responsive(src='/img/static/homepage/paul-s-big.jpg' alt='')
            .col-md-5.col-sm-4.col-xs-10
                p
                  em
                  | Great workshop! Looking forward to the next meetup ;)
                p
                  a(href='http://www.meetup.com/AngularJS-Oslo/events/221099320/#event_comment-446456074', target='_blank')
                    | meetup.com/AngularJS-Oslo/events/...
                p
                  span
                    strong Paul S.
                  br
                  strong AngularJS, Oslo, Norway
        .vertical-space-m
    .container
      .container
        .sub-footer-holder.row.vertical-space-m
          .col-md-4.col-sm-4
            h5
              img(src='/img/icon_pixels.png' alt='')
              | About DevMeetings
            p
              | DevMeetings is a full-day workshop – prepared by programmers with a passion. Since 2011, we have held more than 30 meetings, from Server-Side JavaScript through implementation of games in JavaScript to Responsive Web Design.
            p
              a(href='/en/info/about_devmeetings') More about DevMeetings >
          .col-md-4.col-sm-4
            h5
              img(src='/img/icon_pixels.png' alt='')
              | Pay What You Want
            p
              | The main idea of DevMeetings is to maximise availability of trainings. This is why we decided on the "Pay What You Want" model – you can take part completely free of charge or support the initiative by paying registration fee.
            p
              a(href='/en/info/pwyw') More about Pay What You Want >
          .col-md-4.col-sm-4
            h5
              img(src='/img/icon_pixels.png' alt='')
              | Collaboration
            p
              | We are looking for speakers, sponsors and people who want to help with the organization of the meetings. Write to us if you want to support our initiative.
              | Contact: info (at) devmeetings (dot) pl
            p
              a(href='/en/info/contact') Contact us >
        .vertical-space-m
