extends ./mail.jade

block title
  Potwierdzenie rejestracji na #{claim.event.title}  

block content
  p Cześć!
  p Potwierdzamy Twoją rejestrację na #{claim.event.title} (#{eventDate}).

  p
    strong Dziękujemy za deklarację płatności 
    | w formule Pay What You Want oraz&nbsp;
    strong prosimy o wpłatę zadeklarowanej kwoty&nbsp;
    | najpóźniej do <strong>#{endDate}</strong>.

  strong Link do płatności:<br/>
    a(href="#{claim.payment.url}") Płatność z PayU
  p
    strong Faktura?<br/>
    | Jesli życzysz sobie fakturę, prześlij proszę dane łącznie z NIPem na adres info@devmeetings.pl.

  p
    strong Co dalej?</br/>
    | Informacje o tym w jaki sposób przygotować się do udziału w DevMeetingu (konfiguracja oprogramowania) prześlemy Tobie mailem na kilka dni przed DevMeetingiem.

  p
    | Pozdrawiamy!<br/>
    | Zespół DevMeetings.pl
