extends ./mail.jade

block title
  Potwierdzenie rejestracji na #{claim.event.title}

block content
  p Cześć!
  p Potwierdzamy Twoją rejestrację na #{claim.event.title} (#{eventDate}).

  p
    strong Dziękujemy za deklarację płatności&nbsp;
    | w formule Pay What You Want oraz&nbsp;
    strong prosimy o wpłatę zadeklarowanej kwoty&nbsp;
    | najpóźniej do <strong>#{endDate}</strong>.

  strong Link do informacji nt. Twojej rezerwacji oraz możliwość pobrania faktury:<br/>
    a(
      href="#{appUrl}/events/#{claim.event._id}/tickets/#{claim._id}"
      ) Twoja rezerwacja
  p
    strong Faktura?<br/>
    | Faktura zostanie wysłana mailem po dokonaniu płatności, jeżeli zostały podane dane do faktury.
    | W innymn przypadku, jeśli życzysz sobie fakturę, prześlij proszę dane łącznie z NIPem na adres registration@devmeetings.org.

  p
    strong Co dalej?<br/>
    | Informacje o tym w jaki sposób przygotować się do udziału w DevMeetingu (konfiguracja oprogramowania) prześlemy Tobie mailem na kilka dni przed DevMeetingiem.

  p
    | Pozdrawiamy!<br/>
    | Zespół DevMeetings.pl
