extends ./mail.jade

block content
    p Cześć!
    P Już #{eventDay} widzimy się na DevMeetingu !{event.title}.
    p
        strong Gdzie?<br/>
        | !{event.mail.location}

    p
        strong Kiedy?<br/>
        | Sobota, #{startDate}, prosimy o przybycie najpóźniej #{regDate}. Zakończenie ok. #{endDate}.

    p
        strong Co należy przynieść?<br/>
        | Laptop z zainstalowanym Google Chrome<br/>
        | Urządzenia mobilne (telefony, tablety) - Android 4.4+ -> im więcej urządzeń będzie na devmeetingu, tym lepiej + ładowarka / kabel USB<br/>
        | Załóż konto na Firebase.com<br/>
        | Jeśli nie miałeś doświadczenia z Angularem: zapoznaj się z podstawami tego frameworku

    p
        strong Kontakt do organizatora w dniu DevMeetingu<br/>
        | Alicja Strąpoć, tel. 513 053 358

    p
        strong Partner DevMeetingu <br/>
        | !{event.mail.partner}

    br
    br

    p Do zobaczenia!

    p
        | Pozdrawiamy,<br/>
        | Zespół DevMeetings