extends ./mail.jade

block content
    p Cześć!
    P Już #{eventDay} widzimy się na DevMeetingu !{event.title} w !{event.mail.city}.
    p
        strong Gdzie?<br/>
        | !{event.mail.location}

    p
        strong Kiedy?<br/>
        | Sobota, #{startDate}, prosimy o przybycie najpóźniej #{regDate}. Zakończenie ok. #{endDate}.

    if event.mail.preparation
        p
            strong Jak przygotować się do DevMeetingu?<br/>
            !{event.mail.preparation}

    if event.mail.partner
        p
            strong Partner DevMeetingu<br/>
            !{event.mail.partner}

    if event.mail.contact
        p
            strong Kontakt do organizatora w dniu DevMeetingu<br/>
            !{event.mail.contact}

    br
    br

    p Do zobaczenia!

    p
        | Pozdrawiamy,<br/>
        | Zespół DevMeetings
