extends ./mail.jade

block content
    p Cześć!
    P Już #{eventDay} widzimy się na DevMeetingu !{event.title} w Krakowie.
    p
        strong Gdzie?<br/>
        | !{event.mail.location}

    p
        strong Kiedy?<br/>
        | Sobota, #{startDate}, prosimy o przybycie najpóźniej #{regDate}. Zakończenie ok. #{endDate}.

    p
        strong Co należy przynieść?<br/>
        | - Laptop z zainstalowanym Google Chrome<br/>
        | - UWAGA: Prosimy o instalację node.js + zapoznanie się z podstawami ES6 (ES2015).

    p
        strong Kontakt do organizatora w dniu DevMeetingu<br/>
        | Piotr Zwoliński, tel. 532 264 968

    br
    br

    p Do zobaczenia!

    p
        | Pozdrawiamy,<br/>
        | Zespół DevMeetings
