extends ./mail.jade

block title
  Potwierdzenie rejestracji na DevMeeting Online #{claim.event.title}  

block content
  h1 Potwierdzamy rejestrację na DevMeeting Online #{claim.event.title}

  h2 Dziękujemy za deklarację płatności w formule Pay What You Want oraz prosimy o wpłatę zadeklarowanej kwoty najpóźniej do <strong>#{endDate}</strong>.

  h2 Dane do płatności:
  ul
    li Odbiorca: Developers Peak Sp. z o. o.
    li Kwota: #{claim.amount} zł
    li Nr konta: 43 1140 2004 0000 3702 7521 7540
    li Tytuł przelewu: Udział w DevMeetingu Online #{claim.event.title}, #{claim.userData.names}, #{claim.id}
  
  h2 Faktura?
  p Jesli życzysz sobie fakturę, prześlij proszę dane łącznie z NIPem na adres info@devmeetings.pl.

  p Informacje o tym w jaki sposób przygotować się do udziału w DevMeetingu (konfiguracja oprogramowania) prześlemy Tobie mailem.

