extends ./mail.jade

block title
  Potwierdzenie płatności za #{claim.event.title} (#{claim.amount} zł)

block content
  p Cześć!
  p Potwierdzamy płatność za DevMeeting Online #{claim.event.title}.
  
  p
    | E-mail: #{claim.userData.email} <br>
    | User: #{claim.userData.names} <br>
    | Kwota: #{claim.amount} zł <br>
    | PayuId: #{claim.payment.id} <br>

  p
    | Pozdrawiamy!<br/>
    | Zespół DevMeetings.pl
