doctype html
html
    head
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
        append css
            style.
                @media print {
                    @page {
                        size: A4;
                    }
                }

                body {
                    margin-top: 0px;
                    margin-left: 0px;
                }

                .page {
                    padding: 0;
                    margin: 0 auto;
                    page-break-after: always;
                    font-family: 'Times New Roman', sans-serif;;
                }

                .container > .row {
                   margin-top: 10px;
                }

                .belt {
                   position: absolute;
                   top: 0;
                   right: 2px;
                   z-index: -1;
                }

                .belt img {
                   width: 287px;
                   height: 800px;
                }

                table, .panel {
                   font-size: 11px;
                }

                p.info {
                    position:absolute;
                    bottom:0;
                    left:0;
                }

body
        .page
           .belt
              img(src="/img/faktura_pasek.jpg")
           p.info
            small= t('invoice_smallInfo')
           .container
               .row
                  .col-xs-12
                     p.text-left
                      small= t('invoice_dateOfInvoice')
                         | &nbsp;#{data.invoice.dateOfInvoice},&nbsp;
                         span= t('invoice_cityOfInvoie')
               .row
                  .col-xs-5.col-xs-offset-7
                     p
                        strong= t('invoice_invoiceNo')
                         span.invoice-no &nbsp;#{data.invoice.invoiceNo}
                     .row
                        .col-xs-6= t('invoice_deliveryDate')
                           |  <br/>
                           span= t('invoice_paymentMethod')
                           |  <br/>
                           span= t('invoice_dateOfPayment')
                        .col-xs-6
                           | #{data.invoice.deliveryDate} <br/>
                           | #{data.paymentMethod} <br/>
                           | #{data.invoice.dateOfPayment}

               .row
                  .col-xs-7
                     p
                        strong= t('invoice_seller')
                     .row
                        .col-xs-12= t('invoice_sellerName')
                           | <br/>
                           span= t('invoice_sellerStreet')
                           | <br/>
                           span= t('invoice_sellerCity')
                           | <br/>
                           span= t('invoice_sellerNIP')
                  .col-xs-5
                     p
                        strong= t('invoice_buyer')
                     .row
                        .col-xs-12
                           | #{data.buyer.invoice.recipientName}<br/>
                           | #{data.buyer.invoice.street}<br/>
                           | #{data.buyer.invoice.postalCode} #{data.buyer.invoice.city}<br/>
                           span= t('invoice_buyerNIP')
                           |  #{data.buyer.invoice.tin}
           .container
              .row
                 .col-xs-12
                    table.table
                       tr
                          th= t('invoice_lp')
                          th= t('invoice_serviceName')
                          th= t('invoice_quantity')
                          th= t('invoice_unitOfMeasuer')
                          th= t('invoice_amountNet')
                          th= t('invoice_valueNet')
                          th= t('invoice_vatRate')
                          th= t('invoice_vatValue')
                          th= t('invoice_amountGross')
                       tr
                          td 1
                          td #{data.serviceName}
                          td 1
                          td szt.
                          td #{data.invoice.amountNet} #{data.currencyCode}
                          td #{data.invoice.amountNet} #{data.currencyCode}
                          td #{data.claim.vatRate}%
                          td #{data.invoice.amountDiff} #{data.currencyCode}
                          td #{data.invoice.amountGross} #{data.currencyCode}
                       tr
                          td.text-right(colspan=4)
                              strong= t('invoice_total')
                          td #{data.invoice.amountNet} #{data.currencyCode}
                          td #{data.invoice.amountNet} #{data.currencyCode}
                          td
                          td #{data.invoice.amountDiff} #{data.currencyCode}
                          td #{data.invoice.amountGross} #{data.currencyCode}

              .row
                 .col-xs-9
                    .panel.panel-default
                       .panel-body
                          .row
                             .col-xs-6= t('invoice_amountPayed')
                             .col-xs-6
                                strong #{data.invoice.amountPayed} #{data.currencyCode}
                          .row
                             .col-xs-6= t('invoice_amountStillToPay')
                             .col-xs-6
                                strong #{data.invoice.amountStillToPay} #{data.currencyCode}
                          .row
                             .col-xs-6= t('invoice_bankAccount')
                             .col-xs-6
                                | mBank SA 43 1140 2004 0000 3702 7521 7540
                       .panel-body
                          .row
                             .col-xs-6= t('invoice_noSignature')
                             .col-xs-6= t('invoice_authorized')
                               br
                               strong Piotr Zwoliński
