extends layout-pl

block content

  .row
    .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
      each ev in events
        .well.clearfix
          h1 #{ev.title}
          h3.text-muted Bilety: #{ev.ticketsLeft} / #{ev.tickets}
          hr
          div!= ev.description

          p.hide #{ev}
          .text-center
            a.btn.btn-primary.btn-lg(href="/events/#{ev.name}") Zarejestruj się!
